---
import { preprocess } from "astro/zod";
import { Image } from "astro:assets";

/*const year = Astro.props.year;
const city = Astro.props.city;
const text = Astro.props.text; 
- kan også skrives således*/

const { year, city } = Astro.props;
---

<!-- main -->
<article>
  <h3>{year}</h3> <h4>{city}</h4>
  <p>{text}</p>
  </b>
  <p>{text}</p>
  </b>
  <p>{text}</p>
</article>